<a href="https://colab.research.google.com/github/Shreya1310/Twilearn/blob/main/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

ðŸ’« `immutable` => `can't be changed` <br>
ðŸ’« `mutable` => `can be changed`

## Lists

### Create an empty list with the name â€˜aâ€™, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a=[]

In [ ]:
# print the value of a
a

[]

In [ ]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [ ]:

for i in languages:
  print (i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp=languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
type(temp)

Python

str

Append the element 'Java' in the list

In [ ]:
languages.append("Java")

Remove the element 42 from the list and print the list

---

In [ ]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [â€˜Redâ€™, â€˜Blueâ€™, â€˜Whiteâ€™]

In [ ]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:
colors.append("Black")

Append the color 'Orange' to second position (index=1) and print the list

*   List item
*   List item

In [ ]:
colors.insert(1,"Orange")

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [â€˜Greyâ€™, â€˜Sky Blueâ€™]

In [ ]:
 colors2 = ["Grey", "Sky", "Blue"]

\Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)

Print len of colors and its elements

In [ ]:

len(colors)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky', 'Blue']

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

['Black', 'Blue', 'Blue', 'Grey', 'Orange', 'Red', 'Sky', 'White']

### Create a string, sent = â€˜Coronavirus Caused Lockdowns Around The World.â€

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

> Indented block

In [ ]:

words=sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether â€˜countryâ€™ is in the list

In [ ]:
sent.find("country")

-1

Remove the element â€˜theâ€™ from the list and print the list.

In [ ]:
words_lower.remove("the")

In [ ]:
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

In [ ]:
# Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

words_lower= ['coronavirus', 'caused', 'lockdowns', 'around', 'world']
x4=sent[:4]

In [ ]:
# print x4
x4

'Coro'

Convert the list of elements to single string using join function and print it

In [ ]:
single_string = ' '.join(x4)

# Print the single string
print(single_string)

C o r o

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:

len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
type( stud_grades_set)
type( stud_grades)

list

Add a new element â€˜Gâ€™ to stud_grades_set

In [ ]:
stud_grades_set.add("G")

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add("F")
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove â€˜Fâ€™ from stud_grades_set

In [ ]:

stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)
print(len(stud_grades_set))

{'G', 'B', 'A', 'C'}
4

### Create colors = [â€˜redâ€™,â€™blueâ€™,â€™orangeâ€™], and fruits = [â€˜orangeâ€™,â€™grapesâ€™,â€™applesâ€™]

In [ ]:
colors=["red","blue","orange"]
fruits=["orange","grapes","apples"]

Print color and fruits

In [ ]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set=set( colors)
print( colors_set)
fruits_set=set(fruits)
print( fruits_set)

{'red', 'blue', 'orange'}
{'orange', 'apples', 'grapes'}

Find the union of both the sets.

In [ ]:
union_set=colors_set|fruits_set
print(union_set)

{'orange', 'apples', 'red', 'blue', 'grapes'}

Find the intersection of both the sets

In [ ]:
intersection_set=colors_set & fruits_set
print(intersection_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

1.   List item
2.   List item

In [ ]:
fruits_not_colors = fruits_set.difference(colors_set)

# Print the fruits that are not colors
print(f"Fruits but not colors: {fruits_not_colors}")

Fruits but not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, â€™Viratâ€™, 50.0]

In [ ]:
temp = [17,"Virat",50.0]

Iterate through temp and print all the items in temp

In [ ]:
# Iterate through the list and print each item
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
temp[0]=11

Set temp1 = tuple(temp)

In [ ]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for items in temp1:
  print(items)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
temp1[0]=17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
print(city[0])

Bangalore

Create city2 = (â€˜Chennaiâ€™, 30.01, 74)

In [ ]:
city2=("Chennai",30.01,74)

Create cities which consist of city and city2

1.   List item
2.   List item

In [ ]:
cities=(city,city2)

Print cities

In [ ]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [ ]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[â€˜actorâ€™] to a new variable actor.

In [ ]:
actor=d["actor"]

Print the type of actor

In [ ]:
type(actor)

str

Store the value of d[â€˜listâ€™] in new variable List.

In [ ]:
for i in range(11,50,2):
  print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Print the type of List.

In [ ]:
type(i)

int

Create d1 = { â€˜singerâ€™ : â€˜Kr$naâ€™ , â€˜albumâ€™: â€˜Still hereâ€™, â€˜genreâ€™ : â€˜hip-hopâ€™}

In [ ]:
d1 =  {'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World'
char_counts = {}

# Count the occurrences of characters in the string
for char in sent:
    # Check if the character is not a space or punctuation
    if char.isalnum():
        char_counts[char] = char_counts.get(char, 0) + 1

# Print the character counts using dictionary items()
print("Character Counts:")
for char, count in char_counts.items():
    print(f"'{char}': {count}")

Character Counts:
'C': 2
'o': 6
'r': 4
'n': 3
'a': 2
'v': 1
'i': 1
'u': 3
's': 3
'e': 2
'd': 4
'L': 1
'c': 1
'k': 1
'w': 1
'A': 1
'T': 1
'h': 1
'W': 1
'l': 1